#======MINECRAFT======
logs/
crash-reports/
debug/
saves/
*.json_old
usercache.json
usernamecache.json
options.txt
optionsshaders.txt
launcher_accounts.json
launcher_profiles.json

#=========ASSETS&LIBS=======
assets/
libraries/
versions/
resourcepacks/.cache/
shaderpacks/.cache/
.mixin.out/*

#========MODS===============
mods/

#========KUBEJS=============
kubejs/exported/
kubejs/temp/
kubejs/client_scripts/cache
kubejs/server_scripts/cache
kubejs/*.log

#========CONFIGS============
config/**/*.cfg.cache
config/**/*.json.tmp
config/**/*.bak
config/jei/
config/enchdesc/
config/entity_model_features/

#=======TEMP&SCREENS========
screenshots/
*.tmp
*.temp
cache/
tmp/
panoramas/
patchouil_books/
modernfix/
local/
ldlib/
datapacks/
cosmetics/
automodpack/
automessage_data/
coremods/
data/
fancymenu_data/
global_packs/
gtceu/
schematics/
server-resource-packs/
xaero/
XaeroWaypoints_*/
.nl_password
.nl_password.*
*.password
*.secret
*.key
*.token
.qmenu_opened.marker
*.dat
*.nbt
emi.json
patchouli_data.json
rhino.local.properties
ops.json

supportercache.json

#scripts/

#======SYSTEM===============
.DS_Store
Thumbs.db
desktop.ini
*.log
*.7z
*.dat_old

#========VSCODE=============
.vscode/workspaceStorage/
!.vscode/settings.js
!.vscode/extensions.js
!.vscode/tasks.json

#=========NODE==============
node_modules/
package-lock.json